@use "_colors.scss" as c;

button {
    border: none;
    background-color: inherit;
}

.default-primary-btn {
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background-color: c.$blue-6;
    width: fit-content;
    transition: 0.3s ease;
    color: c.$neutral-1;
    &:hover {
        background-color: c.$blue-7;
    }
}

.icon-primary-btn {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    padding: 16px 24px;
    color: c.$neutral-1;
    border: none;
    border-radius: 8px;
    background-color: c.$blue-6;
    width: fit-content;
    transition: 0.3s ease;
    &:hover {
        background-color: c.$blue-7;
        gap: 16px;
    }
}

.default-secondary-btn {
    padding: 16px 24px;
    color: c.$blue-6;
    border-radius: 8px;
    border: none;
    outline: 2px solid c.$blue-6;
    outline-offset: -2px;
    transition: 0.3s ease;
    &:hover {
        background-color: c.$blue-7;
        outline-color: c.$blue-7;
        color: c.$neutral-1;
    }
}

.icon-secondary-btn {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    padding: 16px 24px;
    color: c.$blue-6;
    border-radius: 8px;
    border: none;
    outline: 2px solid c.$blue-6;
    outline-offset: -2px;
    transition: 0.3s ease;
    &:hover {
        background-color: c.$blue-6;
        outline-color: c.$blue-6;
        color: c.$neutral-1;
        .chevron {
            stroke: c.$neutral-1;
        }
        .cross {
            stroke: c.$neutral-1;
            fill: c.$neutral-1;
        }
    }
}

.default-tertiary-btn {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
    color: c.$neutral-7; // Initial text color
    transition: color 0.3s ease;
}

.default-tertiary-btn::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    right: 50%;
    background-color: c.$neutral-7;
    transition: width 0.3s ease, right 0.3s ease;
}

.default-tertiary-btn:hover {
    color: c.$blue-6;
    .grey-text {
        color: c.$blue-6;
    }
}

.default-tertiary-btn:hover::after {
    background-color: c.$blue-6;
    width: 100%;
    right: 0;
}

.icon-tertiary-btn {
    width: fit-content;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: relative;
    text-decoration: none;
    color: c.$neutral-7;
    transition: 0.3s ease;
}

.icon-tertiary-btn::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    right: 50%;
    background-color: c.$neutral-7;
    transition: 0.3s ease;
}

.icon-tertiary-btn:hover {
    color: c.$blue-6;
    gap: 8px;
    .grey-text {
        color: c.$blue-6;
    }
    .grey-i {
        stroke: c.$blue-6;
    }
    .white-i {
        stroke: c.$blue-6;
    }
}

.icon-tertiary-btn:hover::after {
    background-color: c.$blue-6; // Change underline color
    width: 100%;
    right: 0;
}

button:disabled {
    opacity: 30%;
    cursor: default;
}

.default-inactive-btn {
    padding: 16px 24px;
    color: c.$neutral-4;
    border: none;
    border-radius: 8px;
    background-color: c.$neutral-2;
}

.default-success-btn {
    padding: 16px 24px;
    color: c.$neutral-1;
    border: none;
    border-radius: 8px;
    background-color: c.$green-1;
    transition: 0.2s ease;
    &:hover {
        background-color: c.$green-2;
    }
}

.default-radio-btn {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: c.$neutral-7;
    background: c.$neutral-2;
    box-shadow: 2px 1px 4px 0px rgba(122, 122, 122, 0.10);
    transition: 0.2s ease;
    &:hover {
        background: c.$neutral-3;
    }
}

.clicked-radio-btn {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: c.$blue-6;
    color: c.$neutral-1;
    box-shadow: 2px 1px 4px 0px rgba(122, 122, 122, 0.10);
    transition: 0.2s ease;
}

.white-f {
    color: c.$neutral-1;
}