@use "_colors.scss" as colors;

@mixin icon-btn {
    display: flex;
    gap: 8px;
}

.default-primary-btn {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: $blue-6;
    &:hover {
        background-color: $blue-7;
    }
}

.default-secondary-btn {
    padding: 16px 24px;
    border-radius: 8px;
    border: 2px solid $blue-6;
    &:hover {
        background-color: $blue-7;
        border: none;
    }
}

.default-tertiary-btn {
    
}