@use '_colors.scss' as c;

.display {
    font-size: 80px;
    line-height: 100px;
    font-weight: 600;
}

h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
}

h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 600;
}

h3 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}
.t1 {
        font-size: 32px;
        font-weight: 500;
}
.t2 {
        font-size: 24px;
        font-weight: 500;
}
.t3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
}
.body-large {
    font-size: 20px;
    line-height: 32px;
}
.caption {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.body-bold {
    font-weight: 700;
}

body {
    font-family: 'Montserrat';
}

button {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    cursor: pointer;
}

a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: inherit;
    line-height: 150%;
}

.blue-text {
    color: c.$blue-7;
}

.white-text {
    color: c.$neutral-1;
}

.grey-text {
    color: c.$neutral-7;
}
