@use "_colors.scss" as c;

@mixin chevron {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.3s ease;
}

.white-i {
    @include chevron;
    stroke: c.$neutral-1;
}

.blue-i {
    @include chevron;
    stroke: c.$blue-1;
}

.grey-i {
    @include chevron;
    stroke: c.$neutral-7;
}

.cross {
    width: 24px;
    height: 24px;
    fill: c.$blue-6;
    stroke: c.$blue-6;
    stroke-width: 1px;
    transition: 0.3s ease;
}