@use "_colors.scss" as c;
@use "_fonts.scss" as f;
@use "_buttons.scss" as b;

body {
    min-height: 100vh;
    color: var(--color-text);
    background: #efefef;
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    font-family: 'Montserrat';
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}