@use "_colors.scss" as c;
@use "_fonts.scss" as fnt;
@use "_forms.scss" as frm;
@use "_buttons.scss" as b;
@use "_icons.scss" as i;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    color: c.$neutral-10;
    background: c.$neutral-1;
}

nav {
    display: flex;
    width: 100%;
    padding: 24px 96px;
    align-items: center;
    gap: 40px;
}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.white-block {
    background-color: c.$neutral-1;
}
.grey-block {
    background-color: c.$neutral-2;
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: c.$neutral-5;
}



.text-gap-xs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.text-gap-s {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.text-gap-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.sub-hero {
    display: flex;
    padding: 100px 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.info-block {
    display: flex;
    padding: 80px 96px;
    gap: 90px;
    justify-content: space-between;
    .text-gap-l {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .text-gap-s {
            width: 618px;
        }
    }
}

.action-block {
    display: flex;
    width: fit-content;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    border-radius: 12px;
    background: var(--neutral-1, #F5F5F5);

    /* card-shadow */
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.content {
    display: flex;
    padding: 40px 253px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.flow-block {
    display: flex;
    padding: 64px 78px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;

    border-radius: 12px;
    background: #FFF;
}
.flow-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.flow-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.flow-btns {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    .default-primary-btn {
        width: 100%;
    }
    .default-secondary-btn {
        width: 100%;
    }
}

.choose-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}

.card-btn {
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
}

.trainer-card {
    display: flex;
    padding: 24px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    border-radius: 8px;
    background: var(--neutral-2, #F0F0F0);
    box-shadow: 2px 1px 4px 0px rgba(122, 122, 122, 0.10);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.card-bio {
    text-align: center;
    height: 3lh;
    color: c.$neutral-7;
}

